@model WebApplication.ViewModels.MoviesViewModel

<h1>Movies</h1>

@if (Model.Movies.Count == 0)
{
    <p>No Movies</p>
}
else
{
    <ul>
      @foreach (var movie in Model.Movies)
      {
          <li>@movie.Name</li>
      }
    </ul>
}